{
    color: rgb(133, 133, 133);
}

.container {
    max-width: 1000px;
    margin: auto;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card {
    margin: 0 5px;
    padding: 2px 2px;
    border: 1px grey solid;
}

.card div {
    background-color: rgb(230, 230, 230);
}

.card p {
    margin: 0 0;
    text-align: center;
    text-transform: uppercase;
}

.text-container p {
    text-align: center;
}